body {
	color: white;
	background: #181818;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

h1 {
    color: #298af2;
	font-family: monospace;
}

h2 {
    color: #b8e0fc;
    font-family: monospace;
}

p {
	font-family: monospace;
	font-size: 16px;
}

ul {
	font-family: monospace;
	font-size: 16px;
	text-align: center;
	list-style-type: square;
	list-style-position: inside;
}

a {
	color: #8179fc;
}

.icon-space {
	margin-right: 8px;
	margin-left: 8px;
}